<!DOCTYPE html>
<html>
<head>
  <title>Items - Mayor Groceries</title>
  <link rel="stylesheet" type="text/css" href="items_style.css">
</head>
<body>
  <nav>
    <div class="container">
      <h1 class="logo">MAYOR GROCERIES</h1>
      <a href="#" class="logout">Logout</a>
    </div>
  </nav>

  <div class="main-panel">
    <div class="sidebar">
      <ul class="category-list">
        <li><a href="#">Fruits</a></li>
        <li><a href="#">Vegetables</a></li>
        <li><a href="#">Grains</a></li>
        <li><a href="#">Juice</a></li>
        <li><a href="#">Salads</a></li>
        <li><a href="#">Dairy</a></li>
        <li><a href="#">Sauces and Condiments</a></li>
      </ul>
    </div>

    <div class="items-container">
      <!-- Items will be dynamically added here -->
      <div class="Apple">
        <img src="images/fruits/apple.png" alt="Apple" class="item-image">
        <h3 class="item-name">Apple</h3>
        <p class="item-description">Ksh 35</p>
      </div>
      <div class="Avocado">
        <img src="images/fruits/avocado.png" alt="Avocado" class="item-image">
        <h3 class="item-name">Avocado</h3>
        <p class="item-description">Ksh 40</p>
      </div>
      <div class="Banana">
        <img src="images/fruits/banana.png" alt="Banana" class="item-image">
        <h3 class="item-name">Banana</h3>
        <p class="item-description">Ksh 10</p>
      </div>
      <div class="Blackberries">
        <img src="images/fruits/Blackberries.png" alt="Blackberries" class="item-image">
        <h3 class="item-name">Blackberries</h3>
        <p class="item-description">Ksh 40</p>
      </div>
      <div class="Blueberries">
        <img src="images/fruits/Blueberries.png" alt="Blueberries" class="item-image">
        <h3 class="item-name">Blueberries</h3>
        <p class="item-description">Ksh 40</p>
      </div>
      <div class="Cherries">
        <img src="images/fruits/cherries.png" alt="Cherries" class="item-image">
        <h3 class="item-name">Cherries</h3>
        <p class="item-description">Ksh 80</p>
      </div>
      <div class="Coconut">
        <img src="images/fruits/coconut.png" alt="Coconut" class="item-image">
        <h3 class="item-name">Coconut</h3>
        <p class="item-description">Ksh 25</p>
      </div>
      <div class="Cranberries">
        <img src="images/fruits/cranberries.png" alt="Cranberries" class="item-image">
        <h3 class="item-name">Cranberries</h3>
        <p class="item-description">Ksh 140</p>
      </div>
      <div class="Dates">
        <img src="images/fruits/dates.png" alt="Dates" class="item-image">
        <h3 class="item-name">Dates</h3>
        <p class="item-description">Ksh 100</p>
      </div>
      <div class="Fig Fruit">
        <img src="images/fruits/fig fruit.png" alt="Fig Fruit" class="item-image">
        <h3 class="item-name">Fig Fruit</h3>
        <p class="item-description">Ksh 150</p>
      </div>
      <div class="Grapefruit">
        <img src="images/fruits/Grapefruit.png" alt="Grapefruit" class="item-image">
        <h3 class="item-name">Grapefruit</h3>
        <p class="item-description">Ksh 70</p>
      </div>
      <div class="Kunquats">
        <img src="images/fruits/kumquats.png" alt="Kumquats" class="item-image">
        <h3 class="item-name">Kumquats</h3>
        <p class="item-description">Ksh 40</p>
      </div>
      <div class="Lemon">
        <img src="images/fruits/lemon.png" alt="Lemon" class="item-image">
        <h3 class="item-name">Lemon</h3>
        <p class="item-description">Ksh 5</p>
      </div>
      <div class="Mango">
        <img src="images/fruits/mango.png" alt="Mango" class="item-image">
        <h3 class="item-name">Mango</h3>
        <p class="item-description">Ksh 30</p>
      </div>
      <div class="Nectarine">
        <img src="images/fruits/nectarine.png" alt="Nectarine" class="item-image">
        <h3 class="item-name">Nectarine</h3>
        <p class="item-description">Ksh 50</p>
      </div>
      <div class="Orange">
        <img src="images/fruits/orange.png" alt="Orange" class="item-image">
        <h3 class="item-name">Orange</h3>
        <p class="item-description">Ksh 10</p>
      </div>
      <div class="Passion Fruit">
        <img src="images/fruits/passion fruit.png" alt="Passion fruit" class="item-image">
        <h3 class="item-name">Passion fruit</h3>
        <p class="item-description">Ksh 5</p>
      </div>
      <div class="Pawpaw">
        <img src="images/fruits/pawpaw.png" alt="Pawpaw" class="item-image">
        <h3 class="item-name">Pawpaw</h3>
        <p class="item-description">Ksh 80</p>
      </div>
      <div class="Peach">
        <img src="images/fruits/Peach.png" alt="Peach" class="item-image">
        <h3 class="item-name">Peach</h3>
        <p class="item-description">Ksh 50</p>
      </div>
      <div class="Pineapple">
        <img src="images/fruits/pineapple.png" alt="Pineapple" class="item-image">
        <h3 class="item-name">Pineapple</h3>
        <p class="item-description">Ksh 30</p>
      </div>
      <div class="Plums">
        <img src="images/fruits/plums.png" alt="Plums" class="item-image">
        <h3 class="item-name">Plums</h3>
        <p class="item-description">Ksh 20</p>
      </div>
      <div class="Pomengrate">
        <img src="images/fruits/pomengrate.png" alt="Pomengrate" class="item-image">
        <h3 class="item-name">Pomengrate</h3>
        <p class="item-description">Ksh 40</p>
      </div>
      <div class="Raspberries">
        <img src="images/fruits/raspberries.png" alt="Raspberries" class="item-image">
        <h3 class="item-name">Raspberries</h3>
        <p class="item-description">Ksh 40</p>
      </div>
      <div class="Strawberries">
        <img src="images/fruits/strawberries.png" alt="Strawberries" class="item-image">
        <h3 class="item-name">Strawberries</h3>
        <p class="item-description">Ksh 40</p>
      </div>
      <div class="Watermelon">
        <img src="images/fruits/watermelon.png" alt="Watermelon" class="item-image">
        <h3 class="item-name">Watermelon</h3>
        <p class="item-description">Ksh 10</p>
      </div>
      <!-- Add more items here -->
    </div>


  </div>
</body>
</html>
